<!-- templates/chat-interface.html -->
<div id="page-chat-interface" class="page-overlay">
    <header class="user-settings-header">
        <i id="chat-interface-back-btn" class="fa-solid fa-chevron-left" data-nav-back></i>
        <span id="chat-interface-char-name">角色名称</span>
        <div class="header-actions">
            <i id="chat-interface-menu-btn" class="fa-solid fa-bars"></i>
        </div>
    </header>
    <div class="chat-area"></div>
    <div class="chat-input-bar">
        <i id="chat-mic-icon" class="fa-solid fa-microphone"></i>
        <textarea id="chat-textarea" placeholder="发送消息..." rows="1"></textarea>
        <i id="chat-smile-icon" class="fa-regular fa-face-smile"></i>
        <div id="chat-send-btn" class="chat-send-btn-wrapper">
            <i class="fa-solid fa-plus"></i>
        </div>
    </div>
</div>